{% extends 'core/layout.html' %}
{% load staticfiles %}
{% block title %}TEAEDI Integration - Shipping Invoices{% endblock %}
{% block head_css %}
  <link href="{% static "vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
{% endblock %}
{% block body_content %}
<!-- page content -->
<div class="right_col" role="main">

    <div class="clearfix"></div>

    <!-- po table -->
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h3>Shipping Invoices <small>You can find all your shipping invoices listed here</small>
            </h3>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form action="" method="post">{% csrf_token %}
            <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th><input type="checkbox" id="checkAll"></th>
                  <th>Invoice Number</th>
                  <th>Invoice Date</th>
                  <th>Invoice Status</th>
                  <th>Order Number</th>
                  <th>Actual Ship Date</th>
                  <th>ISD Name</th>
                  <th>ISD Code</th>
                  <th>Invoice Amount</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for si in si_list %}
                  <tr>
                    <td>
                        {% if si.invoice_status == 'I' %}
                          <input type="checkbox" name="id_list" value="{{ si.pk }}">
                        {% else %}
                          <input type="checkbox" disabled>
                        {% endif %}
                    </td>
                    <td><a  href="{% url 'shipping-invoice-detail' si.pk %}">{{ si.pk }}</a></td>
                    <td>{{ si.invoice_date|date:"m/d/Y"  }}</td>
                    <td>
                      {% if si.invoice_status == 'I' %}
                        <span class="label label-default">{{ si.get_invoice_status_display }}</span>
                      {% elif si.invoice_status == 'RP' %}
                        <span class="label label-warning">{{ si.get_invoice_status_display }}</span>
                      {% elif si.invoice_status == 'P' %}
                        <span class="label label-primary">{{ si.get_invoice_status_display }}</span>
                      {% elif si.invoice_status == 'A' %}
                        <span class="label label-success">{{ si.get_invoice_status_display }}</span>
                      {% elif si.invoice_status == 'R' %}
                        <span class="label label-danger">{{ si.get_invoice_status_display }}</span>
                     {% endif %}
                    </td>
                    <td>{{ si.purchase_order.pk }}</td>
                    <td>{{ si.actual_ship_date|date:"m/d/Y"  }}</td>
                    <td>{{ si.purchase_order.isd_name }}</td>
                    <td>{{ si.purchase_order.isd_code }}</td>
                    <td>${{ si.total_amount }}</td>
                    <td>
                      <a href="{% url 'shipping-invoice-detail' si.pk %}"
                         class="btn btn-xs btn-success">View</a>
                      {% if si.invoice_status == 'I' %}
                        <a href="{% url 'shipping-invoice-refresh' si.pk %}"
                           class="btn btn-xs btn-danger">Refresh</a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- po table -->
</div>
<!-- /page content -->
{% endblock %}

{% block body_js %}
  <script src="{% static "vendors/datatables.net/js/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
  <script>
    $(document).ready(function() {
      var table = $('#datatable').DataTable ({
        "responsive": true,
        "order": [[ 2, "desc" ]],
        "columnDefs": [
          { "type": "date", targets: [1, 4] },
          { "searchable": false, "targets": [3, 9] },
          { "sortable": false, "targets": [0, 3, 4, 6, 7, 9] }
        ]
      });
      var action_html =
        '<label>Action: '+
        '<select class="form-control" name="action" id="id_action" required>' +
        '<option selected="selected" value>------------</option>' +
        '<option value="process_selected">Process Selected Invoices</option>' +
        '</select> ' +
        '<button type="submit" class="btn btn-default">Go</button>' +
        '</label>';
      $("#datatable_length").after(action_html);
      $('#checkAll').click(function() {
            if ($(this).is(":checked")) {
                table.rows({page: "current"}).every( function () {
                    var d = this.data();
                    if (! $(d[0]).attr('disabled')) {
                        d[0] = $(d[0]).attr('checked', true)[0].outerHTML;
                    }
                    this.data(d).draw();
                });
            } else {
                table.rows({page: "current"}).every( function () {
                    var d = this.data();
                    d[0] = $(d[0]).attr('checked', false)[0].outerHTML;
                    this.data(d).draw();
                });
            }
        });
    });
  </script>
{% endblock %}