{% extends 'core/layout.html' %}
{% load staticfiles %}

{% block head_css %}

{% endblock %}

{% block body_content %}
<!-- page content -->
<div class="right_col" role="main">

    <div class="clearfix"></div>

    <!-- po table -->
    <div class="row">

      <div class="col-sm-offset-0 col-sm-12 col-md-offset-3 col-md-6 ">
        <div class="x_panel">
          <div class="x_title">
            <h3>Create New Shipping Invoice</h3>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left {% if form.header_file.errors or form.detail_file.errors %}has-error{% endif %}"
                method="post" enctype="multipart/form-data" >
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label col-md-3" for="id_header_file">TEA Header File <span class="required">*</span>
                </label>
                <div class="col-md-7">
                  <input type="file" id="id_header_file" required="required"
                         name="header_file" class="form-control col-md-7 col-xs-12"
                         aria-describedby="helpBlock1">
                  <span class="help-block" id="helpBlock1">{{form.header_file.errors}}</span>
                </div>

              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="id_detail_file">TEA Detail File <span class="required">*</span>
                </label>
                <div class="col-md-7">
                  <input type="file" id="id_detail_file" required="required"
                         name="detail_file" class="form-control col-md-7 col-xs-12"
                         aria-describedby="helpBlock2">
                  <span class="help-block" id="helpBlock2">{{form.detail_file.errors}}</span>
                </div>

              </div>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-7 col-md-offset-3">
                  <input type="submit" class="btn btn-success" value="Create Shipping Invoice"/>
                </div>
              </div>
          </form>
          </div>
        </div>



      </div>

    </div>
    <!-- po table -->
</div>
<!-- /page content -->
{% endblock %}

{% block body_js %}

{% endblock %}